.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
  }
  
  .wrapper > * {
    padding: 10px;
    flex: 1 100%;
  }
  
  .header {
    background-image: url(images/to-do-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 150px;
    vertical-align: bottom;
    color: white;
    font-size: 65px;
    font-family: 'Stardos Stencil', cursive;
    font-weight: bold;
    opacity: 0.9;
  }
  
  .main {
    margin-top: 10px;
    text-align: left;

  }
  
  .aside-1 {
    margin-top: 10px;
    text-align: center;
  }

  .aside-1 h5 {
    font-size: 35px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: black;
  }

  .inputBox-1 {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 8px 15px 8px 15px;
    margin:0px;
    outline: none;	
    width: 400px;
  }

  .inputBox-2 {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 8px 15px 8px 15px;
    margin:0px;
    margin-right: 10px;
    outline: none;	
    width: 156px;
  }

  .button {
    border-radius: 20px;
    border: none;
    background-image: linear-gradient(to right, rgba(255,0,0,1), rgb(73, 11, 11));
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding: 6px 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-left: 10px;
    width: 20%;
    cursor: pointer;
  }
 
  .button-profile {
    margin-left: 0px;
    width: 60%;
  }

  .button-profile a {
    text-decoration: none;
    color: white;
  }

  #label-2 {
    padding-left: 15px;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0;
    margin-bottom: 30px;
}

.table th {
    padding: 2px;
    padding-bottom: 6px;
    text-align: center;
    text-transform: uppercase;
    color: black;
}

.table th, td {
    border-bottom: 1px solid lightgrey;
    text-align: center;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
}

tr:nth-child(even){background-color: lightgrey};


.th, td .task {
  width: 250px;
}

.table .delete .edit .duedate {
  width: 50px;
}
  
  @media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
  }
  
  @media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .footer  { order: 3; }
  }
  
  body {
    padding: 0em; 
  }

